.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  padding: 5px;
}

.date {
  font-size: 0.9em;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.card :last-child {
  font-size: 1.1em;
  font-weight: 500;
}

.authorYourself {
  color: #ff6f61;
}
