.formulaire {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.formulaire > * {
  margin: 10px 0;
}

.formulaire button {
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.error {
  color: red;
  font-style: italic;
}
