.container {
  margin: 10px 0;
}

.input {
  border: none;
  border-bottom: 1px solid #0f4c81;
  height: 30px;
  font-size: 1.1em;
  width: 50%;
  margin-bottom: 5px;
  transition: all 0.5s ease;
}

.input:focus {
  outline: none;
  border-bottom-width: 2px;
  width: 80%;
}

.container button {
  margin-top: 10px;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: #ff6f61;
  font-weight: bold;
}

.container button:hover {
  background-color: #ccc;
}

.container form {
  display: flex;
  flex-direction: column;
}

/* DESKTOP / TABLET LANDSCAPE */
@media all and (min-width: 960px) {
  .input {
    width: 30%;
  }
  .input:focus {
    width: 80%;
  }
}
