* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

#root {
  overflow: hidden;
  height: 100vh;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  height: calc(100vh - 50px);
  position: relative;
}

h2,
h3 {
  color: #0f4c81;
}

/* PLACEHOLDER COLOR */
::placeholder {
  color: #0f4c81;
}
:-ms-input-placeholder {
  color: #0f4c81;
}
::-webkit-input-placeholder {
  color: #0f4c81;
}
