.container {
  max-width: 100%;
  height: calc(100vh - 170px);
  margin: auto;
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

/* width scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
/* Track scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle scrollbar */
::-webkit-scrollbar-thumb {
  background: #ff6f61;
  border-radius: 5px;
}
.container ul {
  padding: 5px;
}

.warning {
  text-align: center;
  margin-top: 50px;
}

/* DESKTOP / TABLET LANDSCAPE*/
@media all and (min-width: 960px) {
  .container {
    width: 100%;
  }
}
