.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  height: 50px;
}

.nav h1,
.nav a {
  text-transform: uppercase;
}

.nav h1 {
  color: #ff6f61;
  text-align: center;
}

.nav > :nth-child(3) {
  display: none;
}
.menuIcon {
  font-size: 25px;
  cursor: pointer;
}

/* DESKTOP / TABLET LANDSCAPE */
@media all and (min-width: 960px) {
  .menuIcon {
    display: none;
  }
}
